<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="maventry">
        <classes>
            <class name="chrometest">
                <methods>
                    <parameter name="searchtext" value="ps4"></parameter>
                    <include name="searchtextinpage"/>
                </methods>
            </class> <!-- chrometest -->
        </classes>
    </test> <!-- maventry -->
</suite> <!-- Default Suite -->
